<!DOCTYPE html>
<html>
  <head>
    <title>Rpg</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header class="navbar navbar-fixed-top">

          <% if current_user %>
            <%= current_user.username %> | <%= link_to "My Account", user_path(current_user.id)%> | <%= link_to "Sign out", "/signout" %>
          <% else %>
            <%= link_to "Sign up", 'signup' %> | <%= link_to "Sign in", '/signin' %>
          <% end %>
          <%= flash[:alert] %>
          <%= flash[:notice] %>
      </header>


      <%= yield %>
    </div>
  </body>
</html>
